# EC2-Backup app settings

# Expiration period
:expiration: 7 # Number of days to keep the snapshots

# MySQL Settings
:mysql_user: 'dbadmin' # The MySQL user that can flush the tables
:mysql_pwd: 'MyStrongPassword' # The password of the above MySQL user

# Remote settings
#:instance: 'i-12345678' # The id of the remote instance you want to backup
#:fqdn: 'MyServer.Example.com' # The FQDN of the remote instance you want to backup
